@model MyCMS.Models.NoticeModel
@{
    ViewBag.Title = "公告详情";
}
<div class="content_bd">
    <div class="gray_bor_bg">
        <h5 class="gray_blod_word">@ViewBag.Title</h5>
        <fieldset>
            @*<legend>NoticeModel</legend>*@
            <div class="new_form">
                <ul class="form_list">
                    <li class="form_item">
                        @Html.DisplayNameFor(model => model.Title)
                        @Html.DisplayFor(model => model.Title)
                    </li>
                    <li class="form_item">
                        @Html.DisplayNameFor(model => model.Content)
                        @Html.TextAreaFor(model => model.Content, 8, 60, new { @readonly="readonly" }) <a href="" style="color:blue">窗口浏览</a>
                    </li>
                    <li class="form_item">
                        @Html.DisplayNameFor(model => model.CreateDate)
                        @Html.DisplayFor(model => model.CreateDate)
                    </li>
                    <li class="form_item">
                        @Html.DisplayNameFor(model => model.CreateUserId)
                        @Html.DisplayFor(model => model.CreateUserId)
                    </li>
                    <li class="form_item">
                        @Html.DisplayNameFor(model => model.DepartmentId)
                        @Html.DisplayFor(model => model.DepartmentId)
                    </li>
                </ul>
            </div>
        </fieldset>
        <p>
            @Html.ActionLink("编辑", "Edit", new { id = Model.NoticeId }, new { @class = "blue_mod_btn" })
            @Html.ActionLink("返回", "Index", null, new { @class = "blue_mod_btn" })
        </p>
    </div>
</div>
