@model MyCMS.Models.LocalPasswordModel

<h3>更改密码</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="gray_bor_bg">
    <fieldset>
		<ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)&nbsp;&nbsp;
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        </fieldset>
        <input type="submit" value="更改密码" />
						</div>
 
}
