@model MyCMS.Models.DepartmentModel
@{
    ViewBag.Title = "删除部门";
    @Html.ValidationSummary(true)
}
<div class="content_bd">
    <div class="gray_bor_bg">
        <h5 class="gray_blod_word">@ViewBag.Title</h5>
        <fieldset>
            @*<legend>Department</legend>*@
            <div class="new_form">
            
                <ul class="form_list">
                    <li class="form_item">
                        @Html.HiddenFor(model => model.ParentId)
                        @Html.HiddenFor(model => model.ParentId)
                    </li>
                    <li class="form_item">
                        @Html.DisplayNameFor(model => model.name)
                        @Html.DisplayFor(model => model.name)
                    </li>
                    <li class="form_item">
                        @Html.DisplayNameFor(model => model.Description)
                        @Html.DisplayFor(model => model.Description)
                    </li>
                    <li class="form_item">
                        @Html.DisplayNameFor(model => model.SortId)
                        @Html.DisplayFor(model => model.SortId)
                    </li>
                    <li class="form_item">
                        @Html.HiddenFor(model => model.Path)
                        @Html.HiddenFor(model => model.Path)
                    </li>
                </ul>
            </div>
        </fieldset>
        @using (Html.BeginForm())
        {
            <p>
            </p>
            <p>
                <input type="submit" value="删除" class="blue_mod_btn" onclick='{if(confirm("确定删除吗？")){return true;}return false;}' />
                @Html.ActionLink("返回", "Index", null, new { @class = "blue_mod_btn" })
            </p>
        }
    </div>
</div>
