@model MyCMS.Models.DepartmentModel
@{
    ViewBag.Title = "部门编辑";
}
<div class="content_bd">
    <div class="gray_bor_bg">
        <h5 class="gray_blod_word">@ViewBag.Title</h5>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                @*<legend>Department</legend>*@
                <div class="new_form">
                    <ul class="form_list">
                        <li class="form_item">
                            @Html.HiddenFor(model => model.DepartmentId)
                            @Html.LabelFor(model => model.ParentId)
                            @*@Html.EditorFor(model => model.ParentId)*@
                            @Html.DropDownList("ParentID")
                            @Html.ValidationMessageFor(model => model.ParentId)
                        </li>
                        <li class="form_item">
                            @Html.LabelFor(model => model.name)
                            @Html.EditorFor(model => model.name)
                            @Html.ValidationMessageFor(model => model.name)
                        </li>
                        <li class="form_item">
                            @Html.LabelFor(model => model.Description)
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </li>
                        <li class="form_item">
                            @Html.LabelFor(model => model.SortId)
                            @Html.EditorFor(model => model.SortId)
                            @Html.ValidationMessageFor(model => model.SortId)
                        </li>
                        <li class="form_item">
                            @Html.HiddenFor(model => model.Path)
                            @Html.HiddenFor(model => model.Path)
                            @Html.ValidationMessageFor(model => model.Path)
                        </li>
                    </ul>
                    <p>
                        <input onclick="location.href='javascript:void(0);'" type="submit" value="保存" class="blue_mod_btn" />
                        @Html.ActionLink("返回列表", "Index", null, new { @class = "blue_mod_btn" })
                    </p>
                </div>
            </fieldset>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">

    $(document).ready(function () {

        $(".text-box").addClass("input_130x20");
        $("#ParentID").addClass("input_130x20");
        $("#testDialog").click(function () {
            //            art.dialog.notice({
            //                title: '万象网管',
            //                width: 220, // 必须指定一个像素宽度值或者百分比，否则浏览器窗口改变可能导致artDialog收缩
            //                content: '尊敬的顾客朋友，您IQ卡余额不足10元，请及时充值',
            //                icon: 'face-sad',
            //                time: 5
            //            });



            art.dialog.open('/User/UserSelect', { title: '选择采集人', height: 400, background: '#000' });
        });
    });
</script>
