@model MyCMS.Models.ActionLogModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ActionLogModel</legend>

        @Html.HiddenFor(model => model.ActionLogId)

        <div class="editor-label">
            @Html.LabelFor(model => model.IP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IP)
            @Html.ValidationMessageFor(model => model.IP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DepId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DepId)
            @Html.ValidationMessageFor(model => model.DepId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoleId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoleId)
            @Html.ValidationMessageFor(model => model.RoleId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Controller)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Controller)
            @Html.ValidationMessageFor(model => model.Controller)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Action)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Action)
            @Html.ValidationMessageFor(model => model.Action)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Discription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Discription)
            @Html.ValidationMessageFor(model => model.Discription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BrowserType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BrowserType)
            @Html.ValidationMessageFor(model => model.BrowserType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BrowserVersion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BrowserVersion)
            @Html.ValidationMessageFor(model => model.BrowserVersion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
