@model MyCMS.Models.DeviceType
@{
    ViewBag.Title = "Create";
}
<div class="content_bd">
    <div class="gray_bor_bg">
        <h5 class="gray_blod_word">@ViewBag.Title</h5>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <div class="new_form">
                    <ul class="form_list">
                        <li class="form_item">
                            @Html.LabelFor(model => model.Name)
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </li>
                        <li class="form_item">
                            @Html.LabelFor(model => model.CreateTime)
                            @Html.EditorFor(model => model.CreateTime)
                            @Html.ValidationMessageFor(model => model.CreateTime)
                        </li>
                        <li class="form_item">
                            @Html.LabelFor(model => model.ModifyTime)
                            @Html.EditorFor(model => model.ModifyTime)
                            @Html.ValidationMessageFor(model => model.ModifyTime)
                        </li>
                    </ul>
                </div>
                <p>
                <input onclick="location.href='javascript:void(0);'" type="submit" value="保存" class="blue_mod_btn" />
                @Html.ActionLink("返回列表", "Index", null, new { @class = "blue_mod_btn" })
                </p>
            </fieldset>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
