@model IEnumerable<MyCMS.Models.DeviceType>
@{
    ViewBag.Title = "设备类型";
}
<h4 class="content_hd">
    @ViewBag.Title</h4>
<div class="content_bd">
    <p>
        @Html.ActionLink("新增", "Create", null, new { @class = "blue_mod_btn" })
    </p>
    <div class="mange_table log_table mt_10">
        <table class="Js_grayBg common_table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifyTime)
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifyTime)
                    </td>
                    <td>
                        @Html.ActionLink("编辑", "Edit", new { id = item.DeviceTypeId }, new { style = "color:blue" })
                        |
                        @Html.ActionLink("删除", "Delete", new { id = item.DeviceTypeId }, new { style = "color:red" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
